*.log
.DS_Store
.env
.env.*
!.env.example
.env.backup
.env.production
*.production
*.production.*
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/coverage
/docs/api
/node_modules
/public/build
/public/hot
/public/storage
/storage/api-docs
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
*.sqlite*
*.db
*.db-*
*.pem
*.key
*.p12
*.pfx
